* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #0779e4, #fda085);
    color: white;
    font-family: sans-serif;
}

header {
    text-align: center;
    margin-top: 20%;
}

input {
    width: 60%;
    border-radius: 1.5rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
}

input:focus {
    border: 1px solid rgb(0, 132, 255);
}

h2 {
    color: white;
    font-weight: 700;
}

h3 {
    padding-top: 5%;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

strong {
    color: rgb(216, 216, 216);
}

p {
    font-weight: bold;
}

#footer {
    /* position: fixed; */
    text-align: center;
    width: 100%;
    padding: 1% 1%;
}

#save {
    text-align: center;
    padding: 15% 15%;
}

::placeholder {
    font-weight: 700;   
}

.form-container {
    width: 100%;
    height: 600px;
}

.report-inputs {
    height: 600px;
    margin-top: 2%;
    margin-left: 28%;
    overflow-y: auto;
}

.box {
    height: 600px;
    overflow-y: auto;
    border-radius: 1rem;
}

.box h3 {
    color: red;
}

.box p {
    display: inline-block;
    color: black;
}

.reports {
    margin-left: 5%;
}

.edit-delete {
    display: flex;
    justify-content: end;
}

.btn-warning {
    border-radius: 1rem;
}

.btn-danger {
    border-radius: 1rem;
}

.btn-success {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 15%;
    margin-top: 2%;
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
}

.btn-primary {
    border-radius: 1.5rem;
    padding: 1rem;
}

.btn-info {
    padding: 1rem;
    border-radius: 1rem;
}

.newbtn {
    display: flex;
    justify-content: center;
}

.loks {
    width: auto;
    margin-top: 20%;
    margin-left: 70%;
}

.back {
    margin-left: 5%;
    border-radius: 0.5rem;
}

.whatsnew {
    margin-top: 10%;
}

/* Media Queries */

@media (max-width: 2000px) {
    form {
        height: 100vh;
    }
    .alert {
        width: 450px;
    }
}

@media (max-width: 1100px) {
    form {
        height: 100vh;
    }
    .alert {
        width: 400px;
    }
}

@media (max-width: 830px) {
    form {
        height: 50vh;
    }
    .alert {
        width: 350px;
    }
}

@media (max-width: 780px) {
    form {
        height: 70vh;
    }
    .alert {
        width: 300px;
    }
}

@media (max-width: 680px) {
    .report-inputs {
        margin-bottom: 47%;
    }
    .alert {
        width: 400px;
    }
}

@media (max-width: 480px) {
    form {
        height: 100vh;
    }
    input {
        width: 300px;
    }

    .report-inputs {
        width: 100%;
        margin-top: 10%;
        margin-left: 10%;
    }

    body {
        background: linear-gradient(360deg, #0779e4, #0779e4);
    }

    .btn-success {
        margin-top: 5%;
        margin-left: 25%;
    }
    .alert {
        width: 300px;
    }
    }
}

@media (max-width: 385px) {
    form {
        height: 100vh;
    }
    input {
        width: 300px;
    }
    .report-inputs {
        width: 100%;
        height: 700px;
        margin-top: 10%;
        margin-left: 8%;
    }
    body {
        background: linear-gradient(360deg, #0779e4, #0779e4);
    }
    .btn-success {
        margin-top: 5%;
        margin-left: 28%;
    }
    .alert {
        width: 300px;
    }
}