{% extends 'layout.html' %} 

{% block title %}

<title>FS Report</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

{% endblock title %} 

{% block content %}

<header>
    <h1>Field Service Report App</h1><br>
</header>
<div class="newbtn">
    <a href="/reports"><button class="btn btn-primary"><i class="fas fa-edit"></i> Create A Report</button></a>
</div>

<section id="save">
    <p>Check Your Saved Reports</p>
    <a href="/Saved Reports"><button class="btn btn-info"><i class="fas fa-save"></i> Saved Reports</button></a><br>
    <!-- <p class="whatsnew">Whats New</p>
    <button id="version-button" class="btn btn-info" onclick="versionAlert()"><i class="fas fa-question"></i> Latest Features</button> -->
</section>

<section id="footer">
    <p>Made by <strong>@HanslettTheDev</strong></p>
    <p>version: <strong id="version">v1.0.0</strong></p>
</section>

{% endblock content %}